<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Recommendation System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="p-0">
    <div class="container-fluid m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 rounded-0 py-0">
          <ul class="navbar-nav me-auto">
            <li class="nav-item ps-2">
              <a class="nav-link active" aria-current="page" href="/movies"><h4>All Movies</h4></a>
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link active" aria-current="page" href="/genres"><h4>Top movies by Genre</h4></a>
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link active" aria-current="page" href="/similarUsers"><h4>Similar Taste Users</h4></a>
            </li>
            <li class="nav-item ps-5">
              <a class="nav-link active" aria-current="page" href="/recommendation"><h4>Recommend Movie</h4></a>
            </li>
          </ul>
            <form method="GET" action="/searchMovie" class="me-4">
              <input class="form-control" type="search" placeholder="Search by title" aria-label="Search" name="title">
            </form>
        </nav>
    </div>
</body>

{% block moviesRatings %}
{% endblock %}
{% block topRatedMovies %}
{% endblock %}
{% block similarUsers %}
{% endblock %}
{% block recommendMovie %}
{% endblock %}

</html>
