{% extends "master.html" %}

{% block topRatedMovies %}

<div>
	<h2 class="mb-0 d-flex justify-content-center" ><b>{{header}}</b></h2>
</div>
<br>

<div class = "ps-4">
	<form method="GET" action="/topMoviesByGenre" class="d-flex">
		<p class = "text-nowrap pt-2">Select genre(s):</p>
		<select class="select" name = "genresList[]" multiple aria-label="multiple select example">
			{% for row in genresList %}
				<option value="{{row.genre_name}}">{{ row.genre_name }}</option>
            {% endfor %}
		</select>
		<button class ="btn" type="submit">Submit</button>
	</form>
</div>	

<br>
<div class="row row-cols-5 ps-4">
    {% if moviesRatings %}
        {% for row in moviesRatings.movieData %}
            <div class="card-deck">
                <div class="card border-dark mb-3" style="width: 35rem; height: 14rem">
                    <div class="card-header">
                            <b>{{ row.title }}</b>
                    </div>
                    <div class="card-body text-dark overflow-auto">
                      <p class="card-text">
                        Genre: 
                          {% for genreName in row.movies_genres_mapping_2 %}
                            {{genreName.genre_name}}
                              {% if not loop.last %} |{% endif %}
                          {% endfor %}
                      </p>
                      <p class="card-text">Average rating: <i>{{ row.avg_rating|round(2) if row.avg_rating is not none else '0' }}</i></p>
                    </div>
                </div>  
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
  


